div {
    text-align: center;
    border-radius: 10px;
}

.box-container {
    background-color: red;
    padding: 10px;
    max-height: auto;
    max-width: 100%;
    border: 10px solid black;
    margin: 15px;
    justify-content: space-around;
}
.box1 {
    background-color: blue;
    padding: 5px;
    height: 50px;
    border: 5px solid black;
    margin: 5px;
}
.box1-1 {
    float: left;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 0;
    height: 30px;
    width: 50px;
    border: 2px solid black;
    margin: 2px;    
}
.box1-2 {
    float: center;
    background-color: yellow;
    padding-top: 10px;
    height: 30px;
    border: 2px solid black;
    margin: 2px 60px 2px 60px;
}
.box1-3 {
    float: right;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 0;
    height: 30px;
    width: 50px;
    border: 2px solid black;
    margin: 2px;
}
.box2 {
    background-color: blue;
    border: 5px solid black;
    height: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    
    }
.box2-1 {
    background-color: green;
    box-sizing: border-box;
    height: 290px;
    border: 2px solid black;
    margin: 5px;
    flex-basis: 25%;
    display: flex;
}
p {
    margin: auto;
}
.box2-2 {
    background-color: yellow;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px;
    flex-basis: 75%;
    display: flex;
}
.box3 {
    background-color: blue;
    padding: 1px;
    height: 15px;
    border: 5px solid black;
    margin: 5px;
}    
.box4 {
    background-color: blue;
    border: 5px solid black;
    height: 100px;
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.box4-1 {
    background-color: green;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px;
    flex-basis: 25%;
    display: flex;
}
.box4-2 {
    background-color: green;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px;
    flex-basis: 25%;
    display: flex;
}
.box4-3 {
    background-color: green;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px;
    flex-basis: 25%;
    display: flex;
}
.box4-4 {
    background-color: green;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 5px;
    flex-basis: 25%;
    display: flex;
}
.box5 {
    background-color: blue;
    border: 5px solid black;
    height: 30px;
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
h3 {
   
}